
html{
	font-size: 10px;
}

body{
	padding-top: 0em;
    color: #585858;
	font-family: Raleway, sans-serif;
	font-weight: 300;
	font-size: 1.6rem;
}

.greeting img{
	width: 30%;
	max-width:100%;
	height:auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
	text-align: center;
}

h2{
	margin: 2em 0 2em 0;
}

h3, h4, h5, h6 {
	color: #383838;
	font-weight: 400;
	line-height: 1em;
	margin: 0 0 1em 0;
}

p{
	margin:0 0 3em 0;
}

a{
	text-decoration: none;
	font-weight: 400;
}

a:hover{
	color: tomato;
}

header{
	width:100%;
	background:#ffffff;
	text-align:center;
}

nav{
	width:100%;
	background:#D2CBCB;
	text-align:center;
}

nav ul{
	margin:0;
	padding:0;
	list-style:none;
}

nav ul li{
	display: block;
	padding:10px 30px;
	border-bottom:solid 1px #fff;
}

nav ul li a{
	font-weight:bold;
	color:#fff;
	text-decoration:none;
}

nav ul li a:hover{
		color:#970C0E;
	}


.roundphoto{
	border-radius: 100%;
}

.greeting {
	width: 70%;
    padding: 2em;
    text-align: left;
    margin:2em auto;
}

.photowrap{
	width: 90%;
    padding: 0 0 5em 0;
    margin:auto;
    background-color: white;

}

.photo-item{
	display: inline-block;
	height: 20em;
	width: 20em;
	margin: 1em;
}

.gd-item{
	display: inline-block;
	height: 20em;
	margin: 1em;
}

.photo-grid{
	text-align: center;
}


.footer-icon{
	margin: 0.5rem;
	display: inline-block;
}

.icons a{
	color: #fff;
}

.icons a:hover{
	color: tomato;
}

.hometown-bg{
	background-image: url(../imgs/101.png)
}

.footer {
	position: relative;
	background: #222;
	padding: 1em 10%;
	text-align: center;
}

.footer p{
	margin: 1em;
}

.footer .icons{
	list-style: none;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content:space-around;
}


@media only screen and (max-width: 320px) and (orientation: portrait) {

	.photo-item{
		height: 2em;
		width: 2em;
	}

	.gd-item{
		height: 2em;
		width: 2em;
	}
}

@media only screen and (min-width: 768px) {

	nav{
		padding:20px;
	}

	nav ul li{
		display: inline;
		border-bottom:solid 0px #fff;
	}

	.footer .icons{
		display: block;
	}

}

@media only screen and (min-width: 1200px) {

	nav{
		-webkit-flex: 1; /* Safari 6.1+ */
	    -ms-flex: 1; /* IE 10 */ 
	    flex: 1;
		padding:0px;
		text-align:right;
	}

	nav ul{
		padding:20px;
		box-sizing:border-box;	
	}

	nav ul li{
		display: inline;
	}

	.header{
		display: flex;
		justify-content:space-between;

	}

	.photo-item{
		display: inline;
	}

}

